
.header{


}
.navbar-brand{
    
	font-family:;

}

.nav-bar{

	background:#2b2513;
	padding:20px;
	margin:0px;
	font-family:verdana;
    color:#FFFFFF;

}
.p-one{

 	color:white;
	font-family:verdana;
	font-size: 20px;
    text-align:center;
    background:#2b2513;

}

.p-two{

    color:tomato;
	font-family:verdana;
	font-size: 20px;
    text-align:center;
 
}

.p-three{

    color:tomato;
	font-family:fantasy;
	font-size: 20px;
    text-align:center;

}

